<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, viewport-fit=cover">
    <title>{{ name }}</title>
    {{#if track}}
    <!-- tracker.js -->
    <script src=""></script>
    {{/if}}
  </head>
  <body>
    <div>env:<%= htmlWebpackPlugin.options.env %></div>

     <!-- 通过编译参数，控制html中输出 -->
    <%=htmlWebpackPlugin.options.myvar2 %>
    <% if (htmlWebpackPlugin.options.myvar2 === "no") { %>
      <div>var2:<%= htmlWebpackPlugin.options.myvar2 %></div>
    <% } %>
    <div id="app"></div>
    <!-- built files will be auto injected -->

    {{#if link_passport}}
    <!-- passport.js -->
    <% if (htmlWebpackPlugin.options.env === "production") { %>
    <script src=""></script>
    <% } %>

    <% if (htmlWebpackPlugin.options.env === "sandbox") {%>
      <script src=""></script>
    <% }%>

    <% if (htmlWebpackPlugin.options.env === "test") {%>
    <script src=""></script>
    <% } %>

    <% if (htmlWebpackPlugin.options.env === "dev") {%>
      <script src=""></script>
    <% } %>

    {{/if}}

  </body>
</html>
